<a href="https://colab.research.google.com/github/kiranwahid/03_cli_quizz_app/blob/main/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#print work like console.log
print("Hello World")

Hello World

In [9]:
#variables
# for strint we can use single , double and triple quotes. triple quotes use for multiple lines
# single quote
userName = 'kiran'
print(userName)
# double quote
clientName = "Wahid Hussain"
print(clientName)
# triple quote
introuction = """my name is kiran
my father name is wahid hussain """
print(introuction)

# f for formating it works like backtick

age = 25
userName = 'kainat'
female = True
print(age, userName, female)

kiran
Wahid Hussain
my name is kiran
my father name is wahid hussain
25 kainat True

In [15]:
# use of * & +
print(2 * 8) #*use for simple multiplication
# * use with string it will print 10 time this code
print("Pakistan zindabad \n" * 5)
# concatination
print("Kiran" + "Wahid")
# addition
print(5 + 10)

16
Pakistan zindabad
Pakistan zindabad
Pakistan zindabad
Pakistan zindabad
Pakistan zindabad

KiranWahid
15

In [16]:
#oprators
print(10>5)
print(10<5)
print(6==6)
print(7!=7)
print(8>=8)
print(10<=5)
print(8 + 2)
print(20-5)
print(20/2)

True
False
True
False
True
False
10
15
10.0

In [20]:
# take user input
userName = input("Enter Yout Name ")
print(f"Goog Mornint {userName}")
userAge = float(input('Enter your age '))
print(userAge)

Enter Yout Name kiran
Goog Mornint kiran
Enter your age 25
25.0

In [26]:
weather = input("Enter weather ")
if weather == 'winter' :
  print(f"It's freezing cold today.")
else:
  print("It's scorching hot today.")

Enter weather hot
It's scorching hot today.